# Cartelle di compilazione
/build/
/out/
/bin/
/obj/

# File di configurazione CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake

# File di Makefile
Makefile
*.make

# File di log e temporanei
*.log
*.tmp
*.temp
latency_log.txt
server_log.txt
client_log.txt

# File binari ed eseguibili
client
server
order_book_benchmark
order_book_tests

# Librerie statiche
*.a
libOrderBookLib.a

# File specifici dell'editor o dell'IDE
.vscode/
.idea/
*.sublime-workspace

# File del sistema operativo
.DS_Store
Thumbs.db

# Altri file di progetto specifici
*.conf
*.config
